.slider-area {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
  //max-width: 70vw;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  .slider {
    position: relative;
    display: block;
    width: 70vw;
    background-color: aquamarine;

    .btn-slide-control {
      position: absolute;
      top: 50;
      &.btn-prev {
        transform: rotate(180deg);
        left: 0;
      }

      &.btn-next {
        right: 0;
      }
    }

    .slider-list {
      position: relative;
      overflow: hidden;
      display: block;
      margin: 0;

      .slider-track {
        position: relative;
        display: flex;
        background-color: aqua;
        height: 500px;
        align-items: center;
        width: fit-content;
        text-align: left;
        left: 50%;
        transition: all 1s;
        .slider-item {
          position: relative;
          padding: 0 12px;
          float: left;
          .item {
            width: 500px;
            height: 300px;
            text-align: center;
          }
        }
      }
    }
  }
}
